.DS_Store
__pycache__
*.pth
*.pt
*.pth.tar
*.pkl
*.csv
*.png
*.jpg
*.flac
*.log
*.hdf5
*.npy
OpenPCDet/yolov3/checkpoints/*
OpenPCDet/yolov3/weights/*
classification/EPIC-KITCHENS
classification/VggSound_small
.gitignore
classification/epic-kitchens-download-scripts
